.small-caps {
  font-family: 'Playfair Display SC', serif;
}

h2, h3, h4, a {
  font-family: 'Playfair Display', serif;
}

h1, h5, h6, p {
  font-family: 'Josefin Sans', sans-serif;
}

h1 { font-size: 2rem; }

h2 { font-size: 1.5rem; }

.flex-img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color:rgba(0, 0, 0, 0);
  color: #fff;
}

a:link {
  color: #fff;
}

html {
  background-image: url("https://images.unsplash.com/photo-1569690479596-492a39e083bb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0px;
  right: 0px;
  color: white;
  text-align: center;
}