html { font-family: 'Josefin Sans', sans-serif; }

.small-caps { font-family: 'Playfair Display SC', serif; }

h2, h4, a { font-family: 'Playfair Display', serif; }

h1 { font-size: 2rem; }

h2 { font-size: 1.5rem; }

.flex-img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color:rgba(0, 0, 0, 0);
  color: #fff;
}

ul {
  list-style: none;
  text-align: left;
}

.overlay-card {
  background-color: rgba(0, 0, 0, 0.336);
  border-radius: 3rem;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.25);
}

a:link, .nav-link h3 { color: #fff; }

.card-header { color: #000; }

.background-image {
  background-image: url("https://images.pexels.com/photos/6479573/pexels-photo-6479573.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

.main-wrapper {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 2;
  padding: 0 10px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0px;
  right: 0px;
  color: white;
  text-align: center;
}

@media (min-width: 768px) {
  .overlay-card { width: 50%; }
}